.aspect-ratio-box {
  width: 100%;
  padding-top: 50%;
  position: relative;
  border: 1px solid black;
  background-color: #D3D3D3;
}

.aspect-ratio-box-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex-box-centering {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.sizing {
  text-align: center;
}