wdp-app .pane-main {
	bottom: 0;
	display: flex;
	flex-direction: column;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
wdp-app .content {
	display: flex;
	flex-direction: column;
	height: 100%;
	left: 0;
	position: absolute;
	top: 20;
	width: 100%;
}
wdp-app .content ion-fab.fab-vertical-bottom {
	bottom: 30px;
}

ion-content {
	overflow: scroll;
}

.alert-head .sc-ion-alert-md .alert-wrapper .ion-alert .popup {
	min-width: 450px !important;
	width: 100% !important;
}

.sc-ion-popover-md .popover-content {
	min-width: 450px !important;
	width: 50% !important;
}